# Ignore the Virtual Environment
venv/
.venv/
__pycache__/

# Ignore Private API Keys
.env

# Ignore the local database (optional, but good for a clean repo)
db/*.db

# Ignore Mac system files
.DS_Store